<header>

    {{!-- NAVBAR --}}
    <form action="/form" method="post" role="form" enctype="application/x-www-form-urlencoded">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark " style="background-color: #414649da;">
            <div class="container-fluid" class="nav">
                <a class="navbar-brand" href="/home" id="home">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">

                    <button name="choice" type="submit" class="btn btn-link" id="btnReplace" value="add">Add</button>

                    <button name="choice" type="submit" class="btn btn-link" id="btnReplace" value="show">Show
                        song</button>

                    <button name="choice" type="submit" class="btn btn-link" id="btnReplace" value="list">My
                        songs</button>

                    <button name="choice" type="submit" class="btn btn-link" id="btnReplace" value="edit">Edit</button>

                    <button name="choice" type="submit" class="btn btn-link" id="btnReplace"
                        value="delete">Delete</button>

                    <a href="/aboutUs" id="btnReplace">About us</a>
                </div>
            </div>
            <div style="margin-right:5rem; !important">
                {{#if light}}

                <a href="" id="moon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" class="bi bi-moon-fill"
                        viewBox="0 0 16 16">
                        <path
                            d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
                    </svg>
                </a>
                {{else}}
                <a href="" id="sun">
                    <svg xmlns="http://www.w3.org/2000/svg" id="sun" width="30" height="30" fill="#f8ff32"
                        stroke="#b57e4a" class="bi bi-brightness-high-fill" viewBox="0 0 16 16">
                        <path
                            d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
                    </svg>
                </a>
                {{/if}}
            </div>


            {{#if logged}}
            <button name="choice" type="submit" class="btn btn-link" id="btnReplace" style="margin:1rem !important"
                value="profile">{{username}}</button>
            <button name="choice" type="submit" class="btn btn-link" id="btnReplace" style="margin:1rem !important"
                value="login" onclick="logout()">Logout</button> 
                {{else}}
            <button name="choice" type="submit" class="btn btn-link" id="btnReplace" style="margin:1rem !important"
                value="register">Register</button>
            <button name="choice" type="submit" class="btn btn-link" id="btnReplace" style="margin:1rem !important"
                value="login">Login</button>
            {{/if}}

        </nav>

    </form>
    <div id="titleWrap">
        <a href="/home" id="noDeco">
            <h1 id="title">MediaMaster</h1>
        </a>

        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" stroke="darkslateblue" fill="cornflowerblue"
            fill-opacity="0.5" stroke-opacity="0.8" class="bi bi-music-note-beamed" viewBox="0 0 16 16">
            <path
                d="M6 13c0 1.105-1.12 2-2.5 2S1 14.105 1 13c0-1.104 1.12-2 2.5-2s2.5.896 2.5 2zm9-2c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z" />
            <path fill-rule="evenodd" d="M14 11V2h1v9h-1zM6 3v10H5V3h1z" />
            <path d="M5 2.905a1 1 0 0 1 .9-.995l8-.8a1 1 0 0 1 1.1.995V3L5 4V2.905z" />
        </svg>
    </div>

</header>