body {
    border-style: solid;
    border-color: rgba(127, 229, 255, 0.205);
    background-color: #000000ec;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.noDecoration{
    color: #ad67aa !important;
    text-decoration: none;
    margin: 1rem;
}

#title{
    margin: 1rem;
}

#titleWrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

#formWrapper{
    display: flex;
    height: 300px;
    justify-content: center;
    margin: 3rem;
}
#listAllTable, th, td{
    border: white solid;
    border-radius: 2px;
    border-collapse: collapse;

}
#tableDiv{
    display: flex;
    justify-content:center;
    margin: 5rem;
}
#listAllTable{
    width:25%;
}
#footer {
    margin-top:2rem;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            
  }

#aboutUsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}
#aboutUsText{
    width: 50%;
    text-align: justify;
}